[Unit]
Description = isucon6 final frontend application

[Service]
WorkingDirectory=/home/isucon/webapp/react
EnvironmentFile=/home/isucon/webapp/env.sh

ExecStart = /usr/bin/nodejs build/server.js

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
